 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #ccc;
        }

        header {
            background-color: white;
            color: #000;
            text-align: center;
            padding: 20px 0;
            font-weight: bold;
            font-size: 1.3em;
        }

        #zurstartseite {
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            font-size: 1.2em;
        }

        #zurstartseite a {
            color: white;
            text-decoration: none;
        }

        #zurstartseite a:hover {
            border: 2px solid blue;
            padding: 8px;
            border-radius: 5px;
            font-weight: bold;
        }

        
        #inhalt-container {
            background-color: #fff; 
            width: 75%; 
            margin: 2% auto; 
            padding: 20px; 
            box-sizing: border-box;
            border-radius: 20px;
            h2{
                text-align: center;
            }
            
        }
        #text{
                color: grey;
                text-align:justify;
                margin-left:5%;
                margin-right:5%;
            }
        #Bild{
            margin-left:10%;
            margin-right:10%;
            margin-bottom:3%;
        }
        #Bild2{
            margin-left:12%;
            margin-bottom:5%;
            margin-top:3%;
        }
        #eins{
            color: #767575;
            text-align: justify;
            
        }
        #zwei{
            list-style-type: none;
           text-align: justify;
           color: #767575;
           padding-left:2.6%;
        }
        h3{
            margin-top:3%;
        }
       